img {
    height: 180px;
    width: 180px;
    margin: 10px 18.5px 10px 18.5px;
    background: white;
    border-radius: 5%;
}

img:hover {
    background:#9d9dff5e;
    border-radius: 5%;
}

img:active {
    background: rgba(125, 255, 125, 0.315);
    border-radius: 5%;
}